<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.vocabulary.persistence.UsersMapper">

    <select id="getUserDetailById" resultType="HashMap" parameterType="map">
        SELECT
        EMAIL , PASSWORD
        FROM
        USERS
        WHERE
        ID 		    = #{id} 	    AND
        LOGIN	    = #{login}   	AND
        FIRST_NAME	= #{firstName}
    </select>

    <update id="updateUserDetailsById" parameterType="map">
        UPDATE
        USERS
        SET
        LOGIN = #{login} ,
        <if test="email != null">
            EMAIL = #{email}
        </if>
        WHERE
        ID = #{id}
    </update>
</mapper>